
body {
    font-family:Arial, Helvetica, sans-serif;
}
/*------------ Layout css ---------------- */
.container {
    width:100%;
}

.grid-50.left {
    padding: 10%;
}

.grid-50.right {
    padding:2% 0 2% 0;

}
.grid-50 {
    width: 35%;

    float: left;
    display: block;
}

/*----- Header css ----------------- */
.page.header {
    line-height: 40px;
    height: 40px;
    text-align: center;
    background: #70e1e2;
}
.header-wrp .link {
    margin: 0 5px;
    padding: 11px 20px;
   
    background: #92f4f5;
    color:#b3b1b1;
    text-decoration: none;
}

.header-wrp .link.active { 
    background: #fff;
    color: #9a9696;
}

/*----- Canvas  css ----------------- */

canvas {
    border: 2px solid #ded5d5;
    float: left;
}



/*----- slect box   css ----------------- */
#userIdOption {
    width: 35%;
    height: 28px;
    margin: 0 auto;
    float: none;
    display: block;
}


/* ---------------- table css -----------*/

    #todoTable {
        font-family:"Arial", Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
       
    }
    td.loding-data {
        text-align:center;
    }
    #todoTable td, 
    #todoTable th {
        border: 1px solid #e4e0e0;
        padding: 8px;
        position: relative;
    }

    #todoTable tr:nth-child(even){
        background-color: #f7f7f7;
    }

    #todoTable tr:hover {
        background-color: #f1ecec;
    }

    #todoTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #70e1e2;
        color: white;
    }

    /*------------- arrow css ------- */
    i {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        position: absolute;
        padding: 3px;
        width: 4px;
        height: 4px;
      }
      
      
      .up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          right: 15px;
          top: 17px;
      }
      
      .down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          right: 15px;
          top: 11px;
      }
	  
	  
	

